h1 {
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

li {
        color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    background-color: black;
}
